:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}
.flex {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.flex[data-reverse="true"] {
  width: 400px;
  flex-wrap: wrap;
}


main {
  width: 480px;

  background-color: #fff;
  border-radius: 5px;
}

nav {
  background-color: #fff;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  padding: 5px 5px 0;
}

nav ul li {
  flex: 1;
  padding: 1rem;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

nav ul li[data-active="true"] {
  background-color: rgb(250, 250, 250);
  color: #777;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: orange;
}

main section {
  padding: 10px;
  line-height: 1.6;
  font-size: 18px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns:repeat(4, 1fr);
  grid-row-gap: 3px;
  grid-column-gap: 3px;
}


.item {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .item:nth-child(2n) {
  grid-row: 1 / span 2;
  background-color: red;
}

.grid .item:nth-child(3n) {
  grid-row: 2 / span 2;
}